html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
	font-size: 1em;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
}

body {
  font-family: 'Jost', sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust: 100%;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

table,
input,
textarea,
select,
option {
	line-height: 1.1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

a {
  text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

img {
  max-width: 100%;
}

button {
  border: none;
}

.container {
  width: 1500px;
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto;
}

.chk {
	input {
		padding: 0;
		height: initial;
		width: initial;
		margin-bottom: 0;
		display: none;
		cursor: pointer;
	}
	label {
		position: relative;
		cursor: pointer;
		font-size: 16px;
		color: #ffffff;
		a {
			color: #ffffff;
			text-decoration: underline;
			font-weight: 500;
		}
		&::before {
			content:'';
			-webkit-appearance: none;
			background-color: transparent;
			border: 1px solid #ffffff;
			border-radius: 1px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
			// padding: 10px;
			width: 15px;
			height: 15px;
			display: inline-block;
			position: relative;
			vertical-align: middle;
			cursor: pointer;
			margin-right: 9px;
		}
	}
	input:checked + label {
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 6px;
			left: 6px;
			width: 4px;
			height: 10px;
			border: solid #ffffff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
}