.section {
  &_title {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.cate {
  background-color: #fdf3ea;
  padding: 127px 0;
  .section_title {
    margin-bottom: 20px;
  }
  &_list {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    color: #333333;
    line-height: 60px;
    a {
      display: inline-block;
      color: #333333;
      position: relative;
      span {
        position: relative;
        z-index: 1;
      }
      img {
        position: absolute;
        top: -6px;
        left: 50%;
        display: none;
        width: 200px;
        height: 200px;
        max-width: inherit;
      }
      &:hover {
        font-weight: 700px;
        font-style: italic;
        color: #cb9274;
        img {
          display: block;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 60px 0;
    &_list {
      font-size: 25px;
      line-height: 40px;
    }
  }
}

.bestsell {
  padding-top: 73px;
  padding-bottom: 80px;
  .section_title {
    text-align: left;
    margin-bottom: 33px;
  }
  &_wrap {
    max-width: calc(100% - ((100% - 1500px) / 2));
    margin-left: calc((100% - 1500px) / 2);
    overflow-x: auto;
  }
  &_in {
    width: max-content;
    display: flex;
    padding-bottom: 55px;
  }
  &_main {
    position: relative;
    img {
      width: 526px;
      height: 700px;
      object-fit: cover;
    }
    &_bot {
      position: absolute;
      top: auto;
      left: 50px;
      bottom: 52px;
    }
    &_txt {
      font-family: "Cormorant Garamond", serif;
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      line-height: 60px;
      margin-bottom: 26px;
    }
    &_btn {
      background-color: #ffffff;
      width: 220px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 600;
      color: #cb9274;
      text-align: center;
      text-transform: uppercase;
      display: block;
    }
  }
  .product {
    width: 435px;
    margin-left: 30px;
  }
  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    &_wrap {
      max-width: 100%;
      margin-left: 20px;
      margin-right: 20px;
      overflow-x: hidden;
    }
    &_in {
      display: block;
      width: 100%;
    }
    &_main {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .product {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
      &_img {
        text-align: center;
      }
    }
  }
}

.outfit {
  background-color: #f5dfcd;
  padding: 80px 0;
  &_wrap {
    display: flex;
  }
  &_left {
    width: 696px;
    height: 850px;
    margin-right: 30px;
    padding: 0 150px 425px;
  }
  &_right {
    flex: 2;
    height: 850px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_title {
    font-size: 50px;
    color: #333333;
    line-height: 60px;
    text-align: center;
    margin-bottom: 33px;
  }
  &_short {
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    text-align: center;
    margin-bottom: 36px;
  }
  &_btn {
    background-color: #cb9274;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    &_wrap {
      display: block;
    }
    &_left {
      background: none !important;
      width: 100%;
      height: auto;
      margin-right: 0;
      padding: 0 0 30px;
    }
    &_right {
      flex: auto;
      width: 100%;
    }
  }
}

.collection {
  padding: 76px 0 80px 0;
  .section_title {
    margin-bottom: 33px;
  }
  &_top {
    margin-bottom: 78px;
    display: flex;
    &_left {
      width: 50%;
    }
    &_right {
      width: 50%;
      .product {
        width: 435px;
        margin: 0 auto;
      }
      .collection_slide {
        &_item {
          
        }
        .slick-prev, .slick-next {
          width: 14px;
          height: 25px;
          top: auto;
          bottom: 0;
          z-index: 10;
          &::before {
            display: none;
          }
        }
        .slick-prev {
          background: url(../images/slide_prev.png) no-repeat;
          left: 195px;
        }
        .slick-next {
          background: url(../images/slide_next.png) no-repeat;
          right: 195px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    &_top {
      display: block;
      &_left {
        width: 100%;
        margin-bottom: 20px;
      }
      &_right {
        width: 100%;
        .product {
          width: 100%;
        }
        .collection_slide {
          height: 610px;
          .slick-prev, .slick-next {
            top: 200px;
            bottom: auto;
          }
          .slick-prev {
            left: 10px;
          }
          .slick-next {
            right: 10px;
          }
        }
      }
    }
  }
}

.promotion {
  background-color: #f5dfcd;
  display: flex;
  &_left {
    width: 50%;
  }
  &_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    &_col {
      width: 94px;
      border: solid 1px #cb9274;
      text-align: center;
      margin: 0 17px;
      padding: 10px 0;
    }
    &_v {
      font-size: 30px;
      font-weight: 500;
      color: #cb9274;
    }
    &_num {
      font-size: 50px;
      font-weight: 600;
      color: #333333;
      line-height: 60px;
    }
    &_txt {
      font-size: 16px;
      color: #333333;
      line-height: 23px;
    }
  }
  &_btn {
    background-color: #cb9274;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }
  &_more {
    background-color: #f6f6f6;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 52px;
    &_col {
      margin-left: 200px;
      font-size: 16px;
      color: #424242;
      &:first-of-type {
        margin-left: 0;
      }
      i {
        margin-right: 11px;
      }
    }
  }
  @media (max-width: 768px) {
    display: block;
    &_left {
      width: 100%;
      margin-bottom: 20px;
    }
    &_right {
      width: 100%;
      padding-bottom: 30px;
    }
    &_more {
      flex-wrap: wrap;
      height: auto;
      padding: 10px 0 10px 20px;
      &_col {
        margin-left: 0;
        padding-right: 20px;
        width: 50%;
      }
    }
  }
  @media (max-width: 768px) {
    &_time {
      flex-wrap: wrap;
      &_v {
        display: none;
      }
      &_col {
        margin: 10px;
      }
    }
    &_more {
      &_col {
        width: 100%;
      }
    }
  }
}

.client {
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 79px;
  &_content {}
  &_rate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 16px;
    .star {
      background: url(../images/star.png) no-repeat;
      width: 16px;
      height: 14px;
      &.active {
        background: url(../images/star_active.png) no-repeat;
      }
    }
  }
  &_desc {
    font-size: 18px;
    color: #333333;
    line-height: 27px;
    text-align: center;
    width: 900px;
    max-width: 100%;
    margin: 0 auto 16px auto;
  }
  &_member {
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 8px;
  }
  &_career {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;
  }
  &_slide {
    max-height: 345px;
    &_item {}
    .slick-prev, .slick-next {
      width: 50px;
      height: 50px;
      top: 227px;
      bottom: 0;
      z-index: 10;
      &::before {
        display: none;
      }
    }
    .slick-prev {
      background: url(../images/slide_prev.png) no-repeat center;
      background-color: #ffffff;
      left: 75px;
    }
    .slick-next {
      background: url(../images/slide_next.png) no-repeat center;
      background-color: #ffffff;
      right: 75px;
    }
  }
  &_avas {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_ava {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 12px;
    cursor: pointer;
    position: relative;
    &::after {
      content: " ";
      background-color: rgba(255,255,255,0.7);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      z-index: 1;
    }
    &.active {
      &::after {
        display: none;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 768px) {
    &_slide {
      max-height: 500px;
      .slick-prev, .slick-next {
        display: none !important;
      }
    }
    &_desc {
      width: 100%;
      padding: 0 20px;
    }
  }
}