.toptip {
  background-color: #cb9274;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 48px;
  z-index: 3;
}
.header {
  position: relative;
}
.head_top {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  padding-top: 48px;
  width: 1670px;
  max-width: 100%;
  margin: 0 auto;
}
.logo {
  
}
.topmenu {

}
.topslide {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}