html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%; }

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

table,
input,
textarea,
select,
option {
  line-height: 1.1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  max-width: 100%; }

button {
  border: none; }

.container {
  width: 1500px;
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto; }

.chk input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer; }

.chk label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff; }
  .chk label a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 500; }
  .chk label::before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 9px; }

.chk input:checked + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.toptip {
  background-color: #cb9274;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 48px;
  z-index: 3; }
  .toptip i.fa {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 124px; }
  @media (max-width: 768px) {
    .toptip {
      padding: 0 30px 0 15px;
      text-align: left; }
      .toptip i.fa {
        right: 10px; } }

.head {
  position: relative;
  max-width: 100%;
  height: 898px;
  padding-top: 48px; }
  .head.no_top {
    padding-top: 0; }
  .head_top {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    max-width: 100%;
    margin: 0 124px;
    padding-top: 28px; }
    @media (max-width: 768px) {
      .head_top {
        display: block;
        margin: 0 20px;
        padding-top: 80px; } }

.logo {
  width: 30%;
  display: block;
  text-align: center; }
  @media (max-width: 768px) {
    .logo {
      position: absolute;
      top: 20px;
      left: 0;
      width: auto; } }

.topmenu {
  display: flex;
  flex-wrap: wrap; }
  .topmenu li {
    margin-left: 50px; }
    .topmenu li:first-of-type {
      margin-left: 0; }
    .topmenu li a {
      font-size: 18px;
      font-weight: 500;
      color: #ffffff; }
  .topmenu.topmenu_left {
    width: 35%; }
  .topmenu.topmenu_right {
    width: 24%; }
  @media (max-width: 768px) {
    .topmenu li {
      margin-left: 0;
      margin-right: 20px; }
      .topmenu li:last-of-type {
        margin-right: 0; }
    .topmenu.topmenu_left {
      width: 100%;
      margin-bottom: 20px; }
    .topmenu.topmenu_right {
      width: 100%; } }

.topright {
  width: 11%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .topright a {
    font-size: 16px;
    color: #ffffff;
    margin-left: 25px; }
  @media (max-width: 768px) {
    .topright {
      position: absolute;
      top: 20px;
      right: 0; } }

.topslide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 898px;
  z-index: 1;
  max-width: 100%;
  overflow: hidden; }
  .topslide img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .topslide::before {
    content: " ";
    background: url(../images/slide_mask.png) repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2; }
  .topslide .slick-prev, .topslide .slick-next {
    width: 14px;
    height: 25px;
    z-index: 10; }
    .topslide .slick-prev::before, .topslide .slick-next::before {
      display: none; }
  .topslide .slick-prev {
    background: url(../images/slide_prev_white.png) no-repeat;
    left: 90px;
    top: 50%;
    transform: translate(0, -50%); }
  .topslide .slick-next {
    background: url(../images/slide_next_white.png) no-repeat;
    right: 90px;
    top: 50%;
    transform: translate(0, -50%); }
  .topslide .slick-dots {
    bottom: 44px;
    z-index: 10; }
    .topslide .slick-dots li {
      background-color: #878888;
      width: 40px;
      height: 2px;
      border-top: solid 1px transparent; }
      .topslide .slick-dots li.slick-active {
        background-color: #ffffff;
        border-color: #ffffff; }
  .topslide_item {
    position: relative; }
    .topslide_item_info {
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 134px;
      text-align: center; }
    .topslide_item_title {
      font-family: "Cormorant Garamond", serif;
      font-size: 45px;
      color: #ffffff;
      text-align: center;
      margin-bottom: 10px; }
    .topslide_item_short {
      font-size: 16px;
      color: #ffffff;
      line-height: 24px;
      text-align: center;
      margin-bottom: 36px; }
    .topslide_item_btn {
      background-color: #ffffff;
      width: 220px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 600;
      color: #cb9274;
      text-align: center;
      text-transform: uppercase;
      display: inline-block; }

.section_title {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px; }

.cate {
  background-color: #fdf3ea;
  padding: 127px 0; }
  .cate .section_title {
    margin-bottom: 20px; }
  .cate_list {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    color: #333333;
    line-height: 60px; }
    .cate_list a {
      display: inline-block;
      color: #333333;
      position: relative; }
      .cate_list a span {
        position: relative;
        z-index: 1; }
      .cate_list a img {
        position: absolute;
        top: -6px;
        left: 50%;
        display: none;
        width: 200px;
        height: 200px;
        max-width: inherit; }
      .cate_list a:hover {
        font-weight: 700px;
        font-style: italic;
        color: #cb9274; }
        .cate_list a:hover img {
          display: block; }
  @media (max-width: 768px) {
    .cate {
      padding: 60px 0; }
      .cate_list {
        font-size: 25px;
        line-height: 40px; } }

.bestsell {
  padding-top: 73px;
  padding-bottom: 80px; }
  .bestsell .section_title {
    text-align: left;
    margin-bottom: 33px; }
  .bestsell_wrap {
    max-width: calc(100% - ((100% - 1500px) / 2));
    margin-left: calc((100% - 1500px) / 2);
    overflow-x: auto; }
  .bestsell_in {
    width: max-content;
    display: flex;
    padding-bottom: 55px; }
  .bestsell_main {
    position: relative; }
    .bestsell_main img {
      width: 526px;
      height: 700px;
      object-fit: cover; }
    .bestsell_main_bot {
      position: absolute;
      top: auto;
      left: 50px;
      bottom: 52px; }
    .bestsell_main_txt {
      font-family: "Cormorant Garamond", serif;
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      line-height: 60px;
      margin-bottom: 26px; }
    .bestsell_main_btn {
      background-color: #ffffff;
      width: 220px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 600;
      color: #cb9274;
      text-align: center;
      text-transform: uppercase;
      display: block; }
  .bestsell .product {
    width: 435px;
    margin-left: 30px; }
  @media (max-width: 768px) {
    .bestsell {
      padding-top: 60px;
      padding-bottom: 60px; }
      .bestsell_wrap {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        overflow-x: hidden; }
      .bestsell_in {
        display: block;
        width: 100%; }
      .bestsell_main {
        width: 100%; }
        .bestsell_main img {
          width: 100%;
          height: auto; }
      .bestsell .product {
        width: 100%;
        margin-top: 20px;
        margin-left: 0; }
        .bestsell .product_img {
          text-align: center; } }

.outfit {
  background-color: #f5dfcd;
  padding: 80px 0; }
  .outfit_wrap {
    display: flex; }
  .outfit_left {
    width: 696px;
    height: 850px;
    margin-right: 30px;
    padding: 0 150px 425px; }
  .outfit_right {
    flex: 2;
    height: 850px; }
    .outfit_right img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .outfit_title {
    font-size: 50px;
    color: #333333;
    line-height: 60px;
    text-align: center;
    margin-bottom: 33px; }
  .outfit_short {
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    text-align: center;
    margin-bottom: 36px; }
  .outfit_btn {
    background-color: #cb9274;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto; }
  @media (max-width: 768px) {
    .outfit_wrap {
      display: block; }
    .outfit_left {
      background: none !important;
      width: 100%;
      height: auto;
      margin-right: 0;
      padding: 0 0 30px; }
    .outfit_right {
      flex: auto;
      width: 100%; } }

.collection {
  padding: 76px 0 80px 0; }
  .collection .section_title {
    margin-bottom: 33px; }
  .collection_top {
    margin-bottom: 78px;
    display: flex; }
    .collection_top_left {
      width: 50%; }
    .collection_top_right {
      width: 50%; }
      .collection_top_right .product {
        width: 435px;
        margin: 0 auto; }
      .collection_top_right .collection_slide .slick-prev, .collection_top_right .collection_slide .slick-next {
        width: 14px;
        height: 25px;
        top: auto;
        bottom: 0;
        z-index: 10; }
        .collection_top_right .collection_slide .slick-prev::before, .collection_top_right .collection_slide .slick-next::before {
          display: none; }
      .collection_top_right .collection_slide .slick-prev {
        background: url(../images/slide_prev.png) no-repeat;
        left: 195px; }
      .collection_top_right .collection_slide .slick-next {
        background: url(../images/slide_next.png) no-repeat;
        right: 195px; }
  @media (max-width: 768px) {
    .collection_top {
      display: block; }
      .collection_top_left {
        width: 100%;
        margin-bottom: 20px; }
      .collection_top_right {
        width: 100%; }
        .collection_top_right .product {
          width: 100%; }
        .collection_top_right .collection_slide {
          height: 610px; }
          .collection_top_right .collection_slide .slick-prev, .collection_top_right .collection_slide .slick-next {
            top: 200px;
            bottom: auto; }
          .collection_top_right .collection_slide .slick-prev {
            left: 0; }
          .collection_top_right .collection_slide .slick-next {
            right: 0; } }

.promotion {
  background-color: #f5dfcd;
  display: flex; }
  .promotion_left {
    width: 50%; }
  .promotion_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .promotion_time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; }
    .promotion_time_col {
      width: 94px;
      border: solid 1px #cb9274;
      text-align: center;
      margin: 0 17px;
      padding: 10px 0; }
    .promotion_time_v {
      font-size: 30px;
      font-weight: 500;
      color: #cb9274; }
    .promotion_time_num {
      font-size: 50px;
      font-weight: 600;
      color: #333333;
      line-height: 60px; }
    .promotion_time_txt {
      font-size: 16px;
      color: #333333;
      line-height: 23px; }
  .promotion_btn {
    background-color: #cb9274;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto; }
  .promotion_more {
    background-color: #f6f6f6;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 52px; }
    .promotion_more_col {
      margin-left: 200px;
      font-size: 16px;
      color: #424242; }
      .promotion_more_col:first-of-type {
        margin-left: 0; }
      .promotion_more_col i {
        margin-right: 11px; }
  @media (max-width: 768px) {
    .promotion {
      display: block; }
      .promotion_left {
        width: 100%;
        margin-bottom: 20px; }
      .promotion_right {
        width: 100%;
        padding-bottom: 30px; }
      .promotion_more {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0 10px 20px; }
        .promotion_more_col {
          margin-left: 0;
          padding-right: 20px;
          width: 50%; } }
  @media (max-width: 768px) {
    .promotion_time {
      flex-wrap: wrap; }
      .promotion_time_v {
        display: none; }
      .promotion_time_col {
        margin: 10px; }
    .promotion_more_col {
      width: 100%; } }

.client {
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 79px; }
  .client_rate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 16px; }
    .client_rate .star {
      background: url(../images/star.png) no-repeat;
      width: 16px;
      height: 14px; }
      .client_rate .star.active {
        background: url(../images/star_active.png) no-repeat; }
  .client_desc {
    font-size: 18px;
    color: #333333;
    line-height: 27px;
    text-align: center;
    width: 900px;
    max-width: 100%;
    margin: 0 auto 16px auto; }
  .client_member {
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 8px; }
  .client_career {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px; }
  .client_slide {
    max-height: 345px; }
    .client_slide .slick-prev, .client_slide .slick-next {
      width: 50px;
      height: 50px;
      top: 227px;
      bottom: 0;
      z-index: 10; }
      .client_slide .slick-prev::before, .client_slide .slick-next::before {
        display: none; }
    .client_slide .slick-prev {
      background: url(../images/slide_prev.png) no-repeat center;
      background-color: #ffffff;
      left: 75px; }
    .client_slide .slick-next {
      background: url(../images/slide_next.png) no-repeat center;
      background-color: #ffffff;
      right: 75px; }
  .client_avas {
    display: flex;
    align-items: center;
    justify-content: center; }
  .client_ava {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 12px;
    cursor: pointer;
    position: relative; }
    .client_ava::after {
      content: " ";
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      z-index: 1; }
    .client_ava.active::after {
      display: none; }
    .client_ava img {
      width: 100%;
      height: 100%; }
  @media (max-width: 768px) {
    .client_slide {
      max-height: 500px; }
      .client_slide .slick-prev, .client_slide .slick-next {
        display: none !important; }
    .client_desc {
      width: 100%;
      padding: 0 20px; } }

.product {
  display: block; }
  .product_img {
    position: relative;
    margin-bottom: 21px; }
  .product_view {
    background-color: #ffffff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
    color: #333333;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: none; }
    .product_view i.fa {
      line-height: inherit; }
  .product_newsale {
    width: 50px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    display: none; }
    .product_newsale .newsale {
      width: 100%;
      height: 23px;
      line-height: 23px;
      margin-bottom: 10px;
      font-size: 16px;
      display: block;
      text-align: center; }
      .product_newsale .newsale.new {
        background-color: #ffffff;
        color: #333333; }
      .product_newsale .newsale.sale {
        background-color: #cb0006;
        color: #ffffff; }
  .product_imgbot {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none; }
  .product_addcart {
    background-color: #cb9274;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; }
  .product_colors {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; }
  .product_color {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%; }
    .product_color.brown {
      background-color: #6d543c; }
    .product_color.gray {
      background-color: #cccccc; }
    .product_color.bland_brown {
      background-color: #81766e; }
    .product_color.dark_green {
      background-color: #505336; }
    .product_color.blue {
      background-color: #516875; }
    .product_color.organce {
      background-color: #d99c5a; }
    .product_color.active {
      position: relative; }
      .product_color.active:after {
        content: "";
        background-color: #ffffff;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px; }
    .product_colormore {
      font-size: 12px;
      color: #969696;
      margin: 0 5px; }
  .product_title {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 22px;
    text-align: center;
    margin-bottom: 11px; }
  .product_rate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px; }
    .product_rate .star {
      background: url(../images/star.png) no-repeat;
      width: 16px;
      height: 14px; }
      .product_rate .star.active {
        background: url(../images/star_active.png) no-repeat; }
  .product_price {
    text-align: center; }
    .product_price .price {
      font-size: 16px;
      font-weight: 300;
      line-height: 25px; }
      .product_price .price.common_price {
        color: #969696;
        text-decoration: line-through; }
      .product_price .price.discount_price {
        font-weight: 600;
        color: #cb0006; }
      .product_price .price.main_price {
        font-weight: 600;
        color: #000000; }
  .product:hover .bestsell_item_imgbot,
  .product:hover .bestsell_item_view,
  .product:hover .bestsell_item_newsale {
    display: block; }

.foot {
  background-color: #cb9274;
  padding: 68px 0;
  color: #ffffff; }
  .foot_logo {
    display: block;
    text-align: center;
    margin-bottom: 28px; }
  .foot_form_txt {
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 19px; }
  .foot_form_tf {
    width: 650px;
    max-width: 100%;
    height: 50px;
    border: solid 1px #ffffff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 16px; }
    .foot_form_tf i.fa-envelope {
      margin-right: 14px;
      font-size: 30px;
      color: #ffffff; }
    .foot_form_tf input {
      background: none;
      border: none;
      flex: 2;
      padding-right: 20px;
      font-size: 16px;
      color: #ffeadf; }
      .foot_form_tf input::-webkit-input-placeholder {
        color: #ffeadf; }
      .foot_form_tf input:-ms-input-placeholder {
        color: #ffeadf; }
      .foot_form_tf input::placeholder {
        color: #ffeadf; }
    .foot_form_tf button {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      height: 100%;
      background: none;
      border: none;
      position: relative;
      padding-right: 30px; }
      .foot_form_tf button i.fa-arrow-right {
        position: absolute;
        top: 16px;
        right: 0; }
    @media (max-width: 767px) {
      .foot_form_tf button {
        text-indent: -9999px; } }
  .foot_form .chk {
    text-align: center;
    margin-top: 18px; }
  .foot_bot {
    display: flex;
    margin-top: 50px;
    padding-bottom: 48px;
    border-bottom: solid 1px #ffffff; }
  .foot_info {
    flex: 2; }
    .foot_info_txt {
      font-size: 16px;
      line-height: 26px; }
    .foot_info_social {
      margin-top: 26px; }
      .foot_info_social a {
        font-size: 18px;
        color: #ffffff;
        margin-right: 10px; }
    .foot_info_app {
      margin-top: 26px; }
      .foot_info_app_title {
        font-family: "Cormorant Garamond", serif;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px; }
      .foot_info_app_btn {
        display: flex; }
        .foot_info_app_btn a {
          margin-right: 20px; }
  .foot_menu {
    margin-left: 156px; }
    .foot_menu_title {
      font-family: "Cormorant Garamond", serif;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px; }
    .foot_menu ul li {
      font-size: 16px;
      line-height: 36px; }
      .foot_menu ul li a {
        color: #ffffff; }
  .foot_copyright {
    padding-top: 28px;
    display: flex; }
    .foot_copyright .copyright {
      flex: 2;
      font-size: 16px;
      line-height: 22px; }
    .foot_copyright .foot_payment img {
      margin-left: 10px; }
  @media (max-width: 768px) {
    .foot_bot {
      display: block; }
    .foot_info {
      width: 100%;
      margin-bottom: 20px; }
    .foot_menu {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px; }
    .foot_copyright {
      display: block; }
      .foot_copyright .copyright {
        flex: auto;
        width: 100%;
        margin-bottom: 30px; }
      .foot_copyright .foot_payment {
        width: 100%; }
        .foot_copyright .foot_payment img {
          margin-left: 0;
          margin-right: 10px; } }
