html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Jost', sans-serif;
  -webkit-text-size-adjust: 100%; }

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

table,
input,
textarea,
select,
option {
  line-height: 1.1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

button {
  border: none; }

.container {
  width: 1500px;
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto; }

.toptip {
  background-color: #cb9274;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 48px;
  z-index: 3; }

.header {
  position: relative;
  height: 898px; }

.head_top {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 1670px;
  max-width: 100%;
  margin: 48px auto 0 auto;
  padding-top: 28px; }

.logo {
  width: 30%;
  display: block;
  text-align: center; }

.topmenu {
  display: flex;
  flex-wrap: wrap; }
  .topmenu li {
    margin-left: 50px; }
    .topmenu li:first-of-type {
      margin-left: 0; }
    .topmenu li a {
      font-size: 18px;
      font-weight: 500;
      color: #ffffff; }
  .topmenu.topmenu_left {
    width: 35%; }
  .topmenu.topmenu_right {
    width: 24%; }

.topright {
  width: 11%; }

.topslide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 898px;
  z-index: 1; }
  .topslide img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .topslide::before {
    content: " ";
    background: url(../images/slide_mask.png) repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2; }

.section_title {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px; }

.cate {
  background-color: #fdf3ea;
  padding: 127px 0; }
  .cate .section_title {
    margin-bottom: 20px; }
  .cate_list {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    color: #333333;
    line-height: 60px; }
    .cate_list a {
      display: inline-block;
      color: #333333;
      position: relative; }
      .cate_list a span {
        position: relative;
        z-index: 1; }
      .cate_list a img {
        position: absolute;
        top: -6px;
        left: 50%;
        display: none;
        width: 200px;
        height: 200px;
        max-width: inherit; }
      .cate_list a:hover {
        font-weight: 700px;
        font-style: italic;
        color: #cb9274; }
        .cate_list a:hover img {
          display: block; }

.bestsell {
  padding-top: 73px;
  padding-bottom: 80px; }
  .bestsell .section_title {
    text-align: left;
    margin-bottom: 33px; }
  .bestsell_wrap {
    max-width: calc(100% - ((100% - 1500px) / 2));
    margin-left: calc((100% - 1500px) / 2);
    overflow-x: auto; }
  .bestsell_in {
    width: max-content;
    display: flex;
    padding-bottom: 55px; }
  .bestsell_main {
    position: relative; }
    .bestsell_main img {
      width: 526px;
      height: 700px;
      object-fit: cover; }
    .bestsell_main_bot {
      position: absolute;
      top: auto;
      left: 50px;
      bottom: 52px; }
    .bestsell_main_txt {
      font-family: "Cormorant Garamond", serif;
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      line-height: 60px;
      margin-bottom: 26px; }
    .bestsell_main_btn {
      background-color: #ffffff;
      width: 220px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 600;
      color: #cb9274;
      text-align: center;
      text-transform: uppercase;
      display: block; }
  .bestsell_item {
    margin-left: 30px; }
    .bestsell_item_img {
      position: relative;
      margin-bottom: 21px; }
    .bestsell_item_view {
      background-color: #ffffff;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 38px;
      font-size: 20px;
      color: #333333;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1;
      display: none; }
      .bestsell_item_view i.fa {
        line-height: inherit; }
    .bestsell_item_newsale {
      width: 50px;
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 1;
      display: none; }
      .bestsell_item_newsale .newsale {
        width: 100%;
        height: 23px;
        line-height: 23px;
        margin-bottom: 10px;
        font-size: 16px;
        display: block;
        text-align: center; }
        .bestsell_item_newsale .newsale.new {
          background-color: #ffffff;
          color: #333333; }
        .bestsell_item_newsale .newsale.sale {
          background-color: #cb0006;
          color: #ffffff; }
    .bestsell_item_imgbot {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: none; }
    .bestsell_item_addcart {
      background-color: #cb9274;
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 600px;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase; }
    .bestsell_item_colors {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px; }
    .bestsell_item_color {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      border-radius: 50%; }
      .bestsell_item_color.brown {
        background-color: #6d543c; }
      .bestsell_item_color.gray {
        background-color: #cccccc; }
      .bestsell_item_color.bland_brown {
        background-color: #81766e; }
      .bestsell_item_color.dark_green {
        background-color: #505336; }
      .bestsell_item_color.blue {
        background-color: #516875; }
      .bestsell_item_color.organce {
        background-color: #d99c5a; }
      .bestsell_item_color.active {
        position: relative; }
        .bestsell_item_color.active:after {
          content: "";
          background-color: #ffffff;
          border-radius: 50%;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 8px;
          left: 8px;
          right: 8px;
          bottom: 8px; }
      .bestsell_item_colormore {
        font-size: 12px;
        color: #969696;
        margin: 0 5px; }
    .bestsell_item_title {
      font-size: 16px;
      font-weight: 300;
      color: #000000;
      line-height: 22px;
      text-align: center;
      margin-bottom: 11px; }
    .bestsell_item_rate {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 14px; }
      .bestsell_item_rate .star {
        background: url(../images/star.png) no-repeat;
        width: 16px;
        height: 14px; }
    .bestsell_item_price {
      text-align: center; }
      .bestsell_item_price .price {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px; }
        .bestsell_item_price .price.common_price {
          color: #969696;
          text-decoration: line-through; }
        .bestsell_item_price .price.discount_price {
          font-weight: 600;
          color: #cb0006; }
        .bestsell_item_price .price.main_price {
          font-weight: 600;
          color: #000000; }
    .bestsell_item:hover .bestsell_item_imgbot,
    .bestsell_item:hover .bestsell_item_view,
    .bestsell_item:hover .bestsell_item_newsale {
      display: block; }

.outfit {
  background-color: #f5dfcd;
  padding: 80px 0; }
  .outfit_wrap {
    display: flex;
    margin: 0 -15px; }
  .outfit_left {
    width: 696px;
    height: 850px;
    margin-right: 30px;
    padding: 0 150px 425px; }
  .outfit_right {
    flex: 2;
    height: 850px; }
    .outfit_right img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .outfit_title {
    font-size: 50px;
    color: #333333;
    line-height: 60px;
    text-align: center;
    margin-bottom: 33px; }
  .outfit_short {
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    text-align: center;
    margin-bottom: 36px; }
  .outfit_btn {
    background-color: #cb9274;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto; }
